<!-- main/new-config.html -->

<html lang="en-gb">

    {% include "base/header.html" %}

    <body>
        {% include "base/navbar.html" %}

        <div class="container main-content">

            {% if error != None %}
                {{ error }}
            {% endif %}
            {% if post_error != None %}
                {{ post_error }}
            {% endif %}
            {% if post_response != None %}
                {{ post_response }}
            {% endif %}

            <form action="/portfolio/new-config" method="post" enctype="multipart/form-data">
                <label for="pagename">Page name:</label>
                <input type="text" name="pagename" id="pagename" class="form-control" value="{% if data != None %}{{ data["pagename"] }}{% endif %}">

                <label for="title">Title:</label>
                <input type="text" name="title" id="title" class="form-control" value="{% if data != None %}{{ data["title"] }}{% endif %}">

                <label for="bio">Bio:</label>
                <textarea name="bio" id="bio" class="form-control">{% if data != None %}{{ data["bio"] }}{% endif %}</textarea>

                <h5>Links:</h5>
                <div class="indent-inputs" id="links-container">
                    {% if data != None %}
                        {% for linkname, linkurl in data["links"].items() %}
                            <div class="link-group" id="link-group{{ loop.index - 1 }}">
                                <label for="linkname{{ loop.index - 1 }}">Link name:</label>
                                <input type="text" id="linkname{{ loop.index - 1 }}" name="linkname{{ loop.index - 1 }}" class="form-control" value="{{ linkname }}">
                                <label for="linkurl{{ loop.index - 1 }}">Link URL:</label>
                                <input type="text" id="linkurl{{ loop.index - 1 }}" name="linkurl{{ loop.index - 1 }}" class="form-control" value="{{ linkurl }}">
                                <button type="button" id="{{ loop.index - 1 }}" class="btn btn-danger remove-link" data-index="{{ loop.index - 1 }}">Remove</button>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <button type="button" class="btn btn-primary" id="add-link">Add link</button>

                <h5>Banners:</h5>
                <div class="indent-inputs" id="banners-container">
                    {% if data != None %}
                        {% for bannername, bannerdata in data["banners"].items() %}
                            <div class="banner-group" id="banner-group{{ loop.index - 1 }}">
                                <label for="bannername{{ loop.index - 1 }}">Banner name:</label>
                                <input type="text" id="bannername{{ loop.index - 1 }}" name="bannername{{ loop.index - 1 }}" class="form-control" value="{{ bannername }}">
                                <label for="bannerdata{{ loop.index - 1 }}">Banner data:</label>
                                <input type="file" id="bannerdata{{ loop.index - 1 }}" accept=".png" name="bannerdata{{ loop.index - 1 }}" class="form-control">
                                <img src="{% if data != None %}data:image/png;base64,{{ bannerdata }}{% endif %}" alt="banner" class="banner-preview">
                                <button type="button" id="{{ loop.index - 1 }}" class="btn btn-danger remove-banner" data-index="{{ loop.index - 1 }}">Remove</button>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <button type="button" class="btn btn-primary" id="add-banner">Add banner</button>

                <label for="icondata">Icon:</label>
                <input type="file" name="icondata" id="icondata" class="form-control" accept=".png">
                <img src="{% if data != None %}data:image/png;base64,{{ data["icon"] }}{% endif %}" alt="icon" class="icon-preview">

                <h5>Segments:</h5>
                <div class="indent-inputs" id="segments-container">
                    {% if data != None %}
                        {% for segmentid in data["segments"] %}
                            <div class="segment-group" id="segment-group{{ loop.index - 1 }}">
                                <label for="segment{{ loop.index - 1 }}">Segment id:</label>
                                <input type="number" id="segment{{ loop.index - 1 }}" name="segment{{ loop.index - 1 }}" class="form-control" value="{{ segmentid }}">
                                <button type="button" id="{{ loop.index - 1 }}" class="btn btn-danger remove-segment" data-index="{{ loop.index - 1 }}">Remove</button>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <button type="button" class="btn btn-primary" id="add-segment">Add segment</button>

                <label for="favicondata">Favicon:</label>
                <input type="file" name="favicondata" id="favicondata" class="form-control" accept=".ico" >
                <img src="{% if data != None %}data:image/ico;base64,{{ data["favicon"] }}{% endif %}" alt="favicon" class="favicon-preview">

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <script src="/../static/js/portfolio-elements.js"></script>

            <a href="/portfolio" class="btn btn-primary btn-return">return</a>

        </div>

        {% include "base/footer.html" %}
    </body>

</html>

<!-- /main/new-config.html -->