* {
    font-family: Arial;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

.main-content {
    width: 100%;
    margin: 10px;
    padding-top: 40px;
}

@media (min-width: 768px) {
    .main-content {
    width: 500px;
    margin: 0 auto;
    }
}

.header-menu {
    display: flex;
    position: fixed;

    height: 30px;
    width: 100%;

    background-color: #FFF;
    border-bottom: 1px solid #000;

    top: 0;
    left: 0;

    justify-content: space-around;
    align-items: center;

    z-index: 100;
}

.dropdown {
    position: relative;
}

.dropdown summary {
    cursor: pointer;
    list-style: none;
}

.dropdown summary::-webkit-details-marker {
    display: none;
}

.dropdown-menu {
    position: absolute;

    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    background-color: #FFF;
    border: 1px solid #000;

    min-width: 100px;

    display: flex;
    flex-direction: column;

    z-index: 101;
}

.dropdown-menu a {
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
}

.dropdown-menu a:hover {
    background-color: #EEE;
}

.day-log {
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    margin-bottom: 15px;
    display: block;
}

.day-log div {
    padding: 5px;
}

.day-title {
    border-bottom: 1px solid #000;
    text-align: center;
}

.day-content {
    min-height: 36;
    max-height: 350px;
    overflow-y: hidden;
    overflow-x: hidden;
    word-wrap: break-word;
    padding: 10px 5px 10px 5px !important;
}

@media (min-width: 768px) {
    .day-content {
    overflow-y: scroll;
    }
}

.day-footer {
    border-top: 1px solid #000;
}

.log-content {
    width: 100%;
    resize: none;
    min-height: 160px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 15px 10px 20px 10px;
}